/*
For info on name styling we can use BEM method provided by chingu's voyage requirements resource https://israelmitolu.hashnode.dev/writing-cleaner-css-using-bem-methodology
*/

.DivTestClassDemo{
    background-color: aqua;
}

.DivTestClassDemoStyleOne{
    border: 3px dotted black;
    padding: 20px;
}

.DivTestClassDemoStyleOne h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.DivTestClassDemoStyleTwo{
    border: 10px solid green;
    padding: 60px 20px;
}


.DivTestClassDemoStyleTwo h1{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}